<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.wesmartclothing.tbra">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_LOGS"/> <!-- 极光 -->
    <!-- Required -->
    <permission
        android:name="com.wesmartclothing.tbra.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature"/> <!-- Required -->
    <uses-permission android:name="com.wesmartclothing.tbra.permission.JPUSH_MESSAGE"/>

    <application
        android:name=".app.APP"
        android:allowBackup="true"
        android:appComponentFactory="appComponentFactory"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:networkSecurityConfig="@xml/http_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="label,icon,roundIcon,theme,appComponentFactory">
        <activity android:name=".ui.test.LogActivity">
        </activity>
        <!-- android7.0适配 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- 元数据 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path"/>
        </provider> <!-- BUGly升级 -->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent"/> <!-- 高德地图KEY -->
        <!-- <meta-data -->
        <!-- android:name="com.amap.api.v2.apikey" -->
        <!-- android:value="20cc8510855f543b2bf4c59d647852e2"/> -->
        <!-- <service android:name="com.amap.api.location.APSService"/> -->
        <!-- 极光通知广播 -->
        <!-- Required SDK 核心功能 -->
        <!-- 可配置 android:process 参数将 PushService 放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER"/>
                <action android:name="cn.jpush.android.intent.REPORT"/>
                <action android:name="cn.jpush.android.intent.PushService"/>
                <action android:name="cn.jpush.android.intent.PUSH_TIME"/>
            </intent-filter>
        </service> <!-- since 3.0.9 Required SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="com.wesmartclothing.tbra.DataProvider"/> <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的 JPush 服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，或把 enabled 设置成 false ；拉起服务被关闭，App 不会通过拉起服务拉起其他的 App，也不会被其他 App 拉起。 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService"/>

                <category android:name="com.wesmartclothing.tbra"/>
            </intent-filter>
        </service> <!-- since 3.1.0 Required SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DownloadProvider"
            android:authorities="com.wesmartclothing.tbra.DownloadProvider"
            android:exported="true"/> <!-- Required SDK 核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY"/>

                <category android:name="com.wesmartclothing.tbra"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver> <!-- Required SDK 核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.wesmartclothing.tbra"/>
            </intent-filter>
        </activity> <!-- SDK 核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@style/MyDialogStyle">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.wesmartclothing.tbra"/>
            </intent-filter>
        </activity>

        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false">
        </service> <!-- Required SDK 核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver"/>
        <receiver
            android:name=".tools.jpush.MyJpushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION"/>
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/>
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/>
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/>
                <action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION"/>

                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/> <!-- 开机广播 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/> <!-- 网络状态改变广播 -->

                <category android:name="com.wesmartclothing.tbra"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".tools.jpush.MyJPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE"/>

                <category android:name="com.wesmartclothing.tbra"/>
            </intent-filter>
        </receiver> <!-- &lt;!&ndash; DUF服务 &ndash;&gt; -->
        <!-- <activity android:name=".ble.dfu.NotificationActivity"/> -->
        <!-- <service -->
        <!-- android:name=".ble.dfu.DfuService" -->
        <!-- android:exported="true"/> -->
        <!-- 友盟社会SDK -->
        <!-- 友盟 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a38b2e8b27b0a02a7000026">
        </meta-data> <!-- 友盟社会分享登录 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent1106924585"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity> <!-- 分割线============================================================================== -->
        <activity
            android:name=".ui.guide.SplashActivity"
            android:theme="@style/StartTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAINAC"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".ui.login.RegisterActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".ui.main.mine.SettingActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".ui.login.InvitationCodeActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".ui.login.ResetPwdActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".ui.login.VerifyPhoneActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".ui.login.InputInfoActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".ui.login.IllnessActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".ui.login.LocationActivity"
            android:launchMode="singleTop">
        </activity>

        <service
            android:name=".service.LocationIntentService"
            android:exported="false">
        </service>

        <activity
            android:name=".ui.main.mine.ScanDeviceActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".ui.main.mine.relationphone.RelationPhoneActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".ui.main.mine.relationphone.EditPhoneActivity"
            android:launchMode="singleTop">
        </activity>

        <service
            android:name=".service.BleService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity
            android:name=".ui.main.home.HistoryMonitorActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".ui.main.mine.MessageActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".ui.main.mine.WarningRecordActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".base.BaseTitleWebActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".ui.main.mine.WarningSettingActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".ui.main.home.ErrorPointActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".ui.guide.GuideActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".ui.main.home.ReportActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".ui.main.mine.UserInfoActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".ui.main.mine.EditInfoActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".ui.main.mine.FeedbackActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".ui.main.mine.PhotoDetailActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".ui.main.mine.AboutUsActivity"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".ui.main.mine.AccountManagerActivity"
            android:launchMode="singleTop">
        </activity>
    </application>

</manifest>